<a href="https://colab.research.google.com/github/BrunoGabriel123/BrunoGabriel123/blob/main/Aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Tipos de variáveis

In [ ]:
   x = 10  # inteiro
   print(x)
   print(type(x))

   y = "meu nome" # string
   print(type(y))

   k = 1.8 - 1.5 # float
   print(type(k))
   print(k)

   print(x > 6)
   print(x < 15)

10
<class 'int'>
<class 'str'>
<class 'float'>
0.30000000000000004
True
True

In [ ]:
# aqui vamos imprimir o valor da variavel y 

y = "meu nome"
print("valor da variavel y é ", y, "depois da variavel")
y = 10
print(y)

valor da variavel y é  meu nome depois da variavel
10

In [ ]:
texto = 'aspas simpels'
print(type(texto)
      
texto2 = "aspas duplas"
print(type(texto2))

#forçar erro, falta de () e virgula

SyntaxError: ignored

In [ ]:
variavel = 1 + 1
print(variavel)

print(variavel + 3)

2
5

In [ ]:
n = ' nome'
s = ' sobrenome'

n = n + ' sobrenome'

print(n + s)

 nome sobrenome sobrenome

In [ ]:
pi = 3.14
info = 'o valor de pi é = ' + str(pi)
print(info)

# numero se transforma em string, + em numero é soma e + em letra é concatenação

o valor de pi é = 3.14

##Manipulação de Strings (exemplos)

In [ ]:
texto_novo = "RECUPERACAO DA INFORMACAO"

In [ ]:
#texto_novo.lower() printa minusculo

texto_lower = texto_novo.lower()
texto_lower

'recuperacao da informacao'

In [ ]:
# texto_novo.upper printa maisculo

texto_upper = texto_novo.upper()
texto_upper

'RECUPERACAO DA INFORMACAO'

In [ ]:
#substituição

print(texto_lower.replace('a', 'X') )

print(texto_upper.replace('A', 'X'))

recuperXcXo dX informXcXo
RECUPERXCXO DX INFORMXCXO

In [ ]:
len(texto_lower)
#tamanho da string considerando espaço,ponto,virgulas e cada posição(tamanho do texto) 
#resultado 25 : 25 caracteres

25

In [ ]:
print(texto_lower)
print(texto_lower[1:10]) # printar os caracteres entre 2 e 9 , vai retirar o R e o O da resposta

recuperacao da informacao
ecuperaca

In [ ]:
#split
lista_split = texto_lower.split('a')
print(lista_split) # cada vez que encontrar o A ele vai quebrar e caso não colocar a variavel 'a' , irá separar os espaços

['recuper', 'c', 'o d', ' inform', 'c', 'o']

In [8]:
#append
lista_split = texto_lower.split()
lista_split.append("FUNDACAO")
print(lista_split)

['recuperacao', 'da', 'informacao', 'FUNDACAO']

In [9]:
#join

juntar = " ".join(lista_split)
print(juntar)

juntar = "".join(lista_split)
print(juntar)

recuperacao da informacao FUNDACAO
recuperacaodainformacaoFUNDACAO